{{question.pregunta}} <br>{{question.additional}} <br> By{{question.author}}
<br>

<h2> Reviews </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete Question</button>
